<style>
  cite {
    font-style: normal;
  }
  cite a {
    word-break: break-all;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    line-height: 24px;
    text-align: justify;
  }
  nav ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  nav ul li {
    display: contents;
    text-align: center;
  }
  nav ul li .previous {
    grid-column: 1;
  }
  nav ul li .table-of-contents {
    grid-column: 2;
  }
  nav ul li .next {
    grid-column: 3;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background: #222;
      color: white;
    }
    :link {
      color: #a4a4ff;
    }
    :visited {
      color: #cc94ff;
    }
  }
</style>
